.product-bgcolor {
    background-color: #f2f1ec;
    padding: 20px;
 }
 
 .product-heading {
    font-size: 25px;
    color: rgb(201, 141, 131);
    padding: 15px;
    text-align: center;
 }
 
 .Main-product-div {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
 }
 
 .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px; 
    justify-content: center; 
    align-items: center; 
 }
 
 .profile {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    border: 1px solid white;
    padding: 12px;
    text-align: center;
    background-color: white;
    transition: transform 0.3s, box-shadow 0.3s; 
 }